{% extends "base.html" %}

{% block content %}
	<div class="wrapper" style="display:flex; justify-content: center;">
		<ul class="legend">
			{% load static %}
		    <li><img src="{% static 'remyBig.png' %}"/></span> Starting point</li>
		    <li><span class="end-pt"></span> End point</li>
		    <li><span class="wall-lg"></span> Wall</li>
		    <li><span class="unvisited"></span> Unvisited</li>
		    <li><span class="visited"></span> Visited</li>
		</ul>
	</div>

	<table id='board'>
		<tbody>
		{% for row in map.rows%}
		    <tr id="row {{ row.row_idx }}">
		    {% for grid in row.grids %}
		        {% if grid.is_wall %}
		        <td id="{{ row.row_idx }}-{{ grid.c }}" class='wall'></td>
		        {% else %}
		        <td id="{{ row.row_idx }}-{{ grid.c }}" class='unvisited'></td>
		        {% endif %}      
		    {% endfor %}
		    </tr>
		{% endfor%}
		</tbody>
	</table>
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
