{% extends "base.html" %}

{% block content %}
<h1> Info </h1>
FIXME: This is a placeholder page
<h2> Team Members:</h2>
member 1
member 2
member 3
...
<h2>How to use application:</h2>
<h3>Place Maze</h3>
Place the maze by first selecting the wall icon and then clicking on the board.
To remove walls, click them again.
<h3>Place Rat and Cheese</h3>
In the same way as before place a single rat and a cheese.
<h3>Click Start</h3>
After clicking start, watch the rat navigate the maze using machine learning!
{% endblock %}
